<template>
  <div class="login-container">
    <div class="login" v-if="!isAuthenticated">
      <md-field>
        <label>Account Name</label>
        <md-input
          type="text"
          id="accountName"
          name="accountName"
          v-model="userName"
        />
      </md-field>
      <md-field>
        <label>Password</label>
        <md-input
          type="password"
          id="password"
          name="password"
          v-model="password"
        />
      </md-field>
      <div v-if="isAutoLogout" class="error-message">
        <strong>Warning! </strong>Session has expired, please login again.
      </div>
      <div v-if="logError" class="error-message">
        <strong>Warning! </strong>Wrong Login Name or Password
      </div>
      <button type="submit" v-on:click="getTokenAndSetTimer()">
        Odoslat
      </button>
    </div>
  </div>
</template>

<script>
import AuthenticationService from "@/services/AuthenticationService";

export default {
  props: ["logout"],
  data() {
    return {
      userName: "",
      password: "",
      timer: "",
      logError: false
    };
  },
  computed: {
    isAuthenticated() {
      return this.$store.state.isAuthenticated;
    },
    isAutoLogout() {
      return this.$store.state.isError;
    }
  },
  methods: {
    getToken() {
      this.logError = false;
      return AuthenticationService.authenticate(
        this.userName,
        this.password
      ).then(res => {
        this.$store.commit("setError", false);
        this.$store.commit("checkAuth", res);
        if (res === true) {
          this.$router.push("projects");
        } else {
          this.logError = true;
        }
      });
    },
    getTokenAndSetTimer() {
      this.getToken().then(this.tokenValidation);
    },

    tokenValidation() {
      if (
        !localStorage.accessToken ||
        Date.now() / 1000 > localStorage.tokenExp
      ) {
        this.$store.commit("checkAuth", false);
      } else {
        this.timer = (localStorage.tokenExp - Date.now() / 1000) * 1000;
        setTimeout(() => {
          if (localStorage.accessToken) {
            this.$store.commit("setError", true);
            this.logout();
          }
        }, this.timer);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.login-container {
  width: 100%;
}
.login {
  width: 400px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin: 0 auto;
  text-align: left;
}

button {
  height: 30px;
  color: white;
  background-color: #2c3e50;
  outline: none;
  cursor: pointer;
  margin: 0;
}

.error-message {
  padding-bottom: 15px;
  text-align: center;
}
//media

@media screen and (max-width: 755px) {
}
</style>
