<template>
  <div v-if="isAuthenticated">
    <button v-on:click="showCreationForm">Vytvorit novy projekt</button>
    <div>
      <md-table v-model="projects" md-sort="name" md-sort-order="asc" md-card>
        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{
            item.id
          }}</md-table-cell>
          <md-table-cell md-label="Name" md-sort-by="name">{{
            item.name
          }}</md-table-cell>
          <md-table-cell md-label="Description" md-sort-by="description">{{
            item.description
          }}</md-table-cell>
          <md-table-cell md-label="Date of Creation" md-sort-by="created">{{
            creationDate(item.created)
          }}</md-table-cell>
          <md-table-cell>
            <button @click="detailProject(item.id)">Detail</button>
            <button @click="deleteProject(item.id)">X</button>
          </md-table-cell>
        </md-table-row>
      </md-table>
    </div>
    <div id="CreationForm">
      <CreationForm :getProjects="getProjects"></CreationForm>
    </div>
  </div>
</template>

<script>
import CreationForm from "@/components/CreationForm";
import ProjectsService from "@/services/ProjectsService";
export default {
  computed: {
    isAuthenticated() {
      return this.$store.state.isAuthenticated;
    }
  },
  mounted() {
    this.getProjects();
  },
  components: {
    CreationForm
  },
  data() {
    return {
      projects: [
        {
          id: "",
          name: "",
          description: "",
          created: ""
        }
      ],
      project: {
        name: "",
        description: ""
      },
      submitted: false
    };
  },
  methods: {
    detailProject(id) {
      this.$router.push("projects/" + id);
    },
    creationDate(date) {
      return new Date(parseInt(date) * 1000).toLocaleString();
    },
    getProjects() {
      return ProjectsService.getProjects()
        .then(res => {
          this.projects = res.data.projects;
        })
        .catch(err => {
          this.projects = [];
          console.log(err);
        });
    },
    deleteProject(id) {
      return ProjectsService.deleteProject(id).then(this.getProjects);
    },
    showCreationForm() {
      const element = document.getElementById("CreationForm");
      element.classList.add("show-creation-form");
    }
  }
};
</script>

<style lang="scss">
.md-table-cell {
  text-align: left;
}
.md-table {
  width: 75%;
  margin: 0 auto;
  height: 600px;
  overflow: scroll;
}
#CreationForm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(38, 38, 38, 0.98);
}
#CreationForm.show-creation-form {
  display: block;
}

//media
@media screen and (max-width: 960px) {
  .md-table {
    width: 95%;
  }
}

@media screen and (max-width: 755px) {
  button {
    font-size: 0.8rem;
  }
}
</style>
