<template>
  <div>
    <form novalidate @submit.stop.prevent="updateUser()">
      <md-table>
        <md-table-row>
          <md-table-cell>ID</md-table-cell>
          <md-table-cell>{{ this.user.id }}</md-table-cell>
        </md-table-row>
        <md-table-row>
          <md-table-cell>name</md-table-cell>
          <md-table-cell>
            {{ user.name }}
          </md-table-cell>
        </md-table-row>
        <md-table-row>
          <md-table-cell>E-mail</md-table-cell>
          <md-table-cell>{{ user.email }}</md-table-cell>
        </md-table-row>
        <md-table-row>
          <md-table-cell>Admin</md-table-cell>
          <md-table-cell>{{ this.user.admin }}</md-table-cell>
        </md-table-row>
        <md-table-row>
          <md-table-cell>Note</md-table-cell>
          <md-table-cell>
            <input
              type="text"
              v-on:change="saveUpdateddata()"
              v-model="user.note"
              maxlength="40"
              minlength="3"
            />
          </md-table-cell>
        </md-table-row>
        <md-table-row>
          <md-table-cell>User Settings</md-table-cell>
          <md-table-cell>
            <input
              type="text"
              v-on:change="saveUpdateddata()"
              v-model="user.userSettings.preferedLanguage"
              maxlength="2"
              minlength="2"
            />
            <input
              type="text"
              v-on:change="saveUpdateddata()"
              v-model="user.userSettings.preferedTheme"
            />
          </md-table-cell>
        </md-table-row>
      </md-table>
      <button>Save Changes</button>
    </form>
  </div>
</template>
<script>
import UserService from "@/services/UserService";
export default {
  props: [ "snackBarShow", "snackbarDuration", "settingSnackbarStopTimeout", "setSnackbarMessage"],
  mounted() {
    this.getUser();
  },
  data() {
    return {
      user: {
        admin: "",
        email: "",
        id: "",
        name: "",
        note: "",
        userSettings: {
          preferedLanguage: "",
          preferedTheme: ""
        }
      },
      userUpdate: {
        note: "",
        preferedLanguage: "",
        preferedTheme: ""
      }
    };
  },
  methods: {
    getUser() {
      return UserService.getUser()
        .then(res => {
          this.user = res;
        })
        .catch(err => {
          this.user = {};
          console.log(err);
        });
    },
    saveUpdateddata() {
      this.userUpdate.note = this.user.note;
      this.userUpdate.preferedLanguage = this.user.userSettings.preferedLanguage;
      this.userUpdate.preferedTheme = this.user.userSettings.preferedTheme;
    },
    updateUser() {
      this.snackBarShow();
      this.setSnackbarMessage(
        "User dáta budú nenávratne uložené! Neukladať a vrátiť sa späť?"
      );
      this.settingSnackbarStopTimeout(
        setTimeout(
          () => UserService.updateUser(this.userUpdate),
          this.snackbarDuration
        )
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.md-table {
  height: 350px;
  width: 50%;
}
.md-table input {
  height: 30px;
  width: 40%;
  font-size: 0.8rem;
  margin-right: 10px;
}

.md-table-cell {
  font-size: 1rem;
}
//media
@media screen and (max-width: 1080px) {
  .md-table {
    width: 70%;
  }
}
@media screen and (max-width: 780px) {
  .md-table {
    width: 80%;
  }
}
@media screen and (max-width: 540px) {
  .md-table {
    width: 95%;
  }
}
</style>
