<template>
  <div>
    <form novalidate class="md-layout" @submit.prevent="createProject()">
      <h2>Formular na vytvorenie projektu</h2>
      <md-field>
        <label>Nazov Projektu</label>
        <md-input
          type="text"
          v-model="project.name"
          placeholder="Nazov Projektu"
        ></md-input>
      </md-field>
      <md-field>
        <label>Popis projektu</label>
        <md-input
          type="text"
          v-model="project.description"
          placeholder="Popis projektu"
        ></md-input>
      </md-field>
      <div class="buttons">
        <button v-on:click="hideCreationForm" type="submit">
          Vytvorit
        </button>
        <button v-on:click="hideCreationForm()" type="reset">Spat</button>
      </div>
    </form>
  </div>
</template>

<script>
import ProjectsService from "@/services/ProjectsService";
export default {
  props: ["getProjects"],
  data() {
    return {
      project: {
        name: "",
        description: ""
      },
      submitted: false
    };
  },
  methods: {
    createProject() {
      this.submitted = true;
      return ProjectsService.createProject(this.project)
        .then(this.getProjects)
        .catch(err => {
          console.log(err);
        });
    },
    hideCreationForm() {
      const element = document.getElementById("CreationForm");
      element.classList.remove("show-creation-form");
    }
  }
};
</script>

<style lang="scss">
.md-layout {
  position: fixed;
  left: 25%;
  top: 25%;
  color: black;
  width: 50%;
  font-size: 1.5rem;
  text-align: center;
  padding: 15px;
  z-index: 100;
  background-color: white;
}
.md-layout h2 {
  margin: 20px auto;
}
.buttons {
  margin: 0 auto;
}
button {
  height: 30px;
  color: white;
  background-color: #2c3e50;
  margin: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
}
.md-field {
  width: 100%;
}
.md-field input::placeholder {
  color: black !important;
}
</style>
