<template>
  <div>
    <form novalidate @submit.stop.prevent="update()">
      <md-table>
        <md-table-row>
          <md-table-cell> ID</md-table-cell>
          <md-table-cell>{{ this.project.id }}</md-table-cell>
        </md-table-row>
        <md-table-row>
          <md-table-cell> name</md-table-cell>
          <md-table-cell>
            <input
              type="text"
              v-model="project.name"
              maxlength="20"
              minlength="3"
            />
          </md-table-cell>
        </md-table-row>
        <md-table-row>
          <md-table-cell> description</md-table-cell>
          <md-table-cell>
            <input
              type="text"
              v-model="project.description"
              maxlength="20"
              minlength="3"
            />
          </md-table-cell>
        </md-table-row>
        <md-table-row>
          <md-table-cell> date</md-table-cell>
          <md-table-cell>{{
            new Date(parseInt(this.project.created) * 1000).toLocaleString()
          }}</md-table-cell>
        </md-table-row>
        <md-table-row>
          <md-table-cell>
            deafult
          </md-table-cell>
          <md-table-cell>
            <md-switch class="md-primary" v-model="project.default">{{
              project.default
            }}</md-switch>
          </md-table-cell>
        </md-table-row>
        <md-table-row>
          <md-table-cell> Icon</md-table-cell>
          <md-table-cell>
            <input type="text" v-model="project.icon"
          /></md-table-cell>
        </md-table-row>
      </md-table>
      <button>Save Changes</button>
      <button type="button" v-on:click="toProjects()">
        Return to Projects
      </button>
    </form>
  </div>
</template>

<script>
import ProjectsService from "@/services/ProjectsService";

export default {
  props: ["snackBarShow", "snackbarDuration", "settingSnackbarStopTimeout", "setSnackbarMessage"],
  mounted() {
    this.infoProject(this.id);
  },
  beforeRouteUpdate(to, from, next) {
    this.id = to.params.id;
    this.infoProject(this.id);
    next();
  },
  data() {
    return {
      id: this.$route.params.id,
      project: {}
    };
  },
  methods: {
    infoProject(id) {
      return ProjectsService.getProjectByID(id).then(res => {
        this.project = res;
      });
    },
    toProjects() {
      this.$router.push("/projects");
    },
    update() {
      this.snackBarShow();
      this.setSnackbarMessage(
        "Dáta budú nenávratne uložené! Neukladať a vrátiť sa späť?"
      );
      this.settingSnackbarStopTimeout(
        setTimeout(
          () => ProjectsService.updateProject(this.id, this.project),
          this.snackbarDuration
        )
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.md-table {
  margin: 0 auto;
  width: 50%;
  height: auto;
}
.md-table-cell {
  border-top: none;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.edit-icon {
  display: inline-block;
  width: 20px;
}
.edit-icon:hover,
.edit-icon:focus {
  cursor: pointer;
}
input {
  width: 50%;
  font-size: 0.8rem;
  height: 30px;
  outline: none;
}

//media
@media screen and (max-width: 1080px) {
  .md-table {
    width: 70%;
  }
}
@media screen and (max-width: 780px) {
  .md-table {
    width: 80%;
  }
}
@media screen and (max-width: 540px) {
  .md-table {
    width: 95%;
  }
}
</style>
