<template>
  <div>
    <div id="CreationForm">
      <CreationForm :getProjects="getProjects"></CreationForm>
    </div>
    <input
      id="SearchInput"
      type="search"
      class="search-input"
      v-model="searchInput"
      v-on:input="debounceInput"
      v-on:keydown="checkKeys()"
    />
    <Circle2 v-if="loading" id="Spinner" style="width: 20px; height: 20px" />
    <div
      v-if="foundItems[0].id === 0 && response && searchInput.length > 0"
      class="search-dropdown nothingfound-message"
      style="z-index: 999"
    >
      <p>
        Žiadny projekt sa nenašiel,
        <a class="link" @click="showCreationForm()">Vytvor si nový</a>
      </p>
    </div>
    <div
      v-if="response && !loading && searchInput.length > 0"
      class="search-dropdown"
    >
      <div v-for="item in foundItems" :key="item.id">
        <div
          class="item-group"
          v-on:click="openResult(item.id)"
          @keyup="nextItem()"
          :class="{ 'active-item': foundItems[currentItem].id === item.id }"
        >
          <p>{{ item.name }}</p>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CreationForm from "@/components/CreationForm";
import _ from "lodash";
import ProjectsService from "@/services/ProjectsService";
import router from "@/router";
import Circle2 from "vue-loading-spinner/src/components/Circle2.vue";

export default {
  components: {
    Circle2,
    CreationForm
  },
  mounted() {
    document.addEventListener("keyup", this.nextItem);
  },
  data() {
    return {
      loading: false,
      response: false,
      searchInput: "",
      foundItems: [{ id: 0 }],
      currentItem: 0,
      arrowKeyPressed: [37, 38, 39, 40]
    };
  },
  methods: {
    test() {
      this.loading = true;
      setTimeout(() => {
        this.loading = false;
      }, 600);
    },
    debounceInput: _.debounce(function() {
      this.searchProjects();
    }, 300),
    checkKeys() {
      if (this.arrowKeyPressed.includes(event.keyCode)) {
        return;
      } else {
        this.response = false;
        this.test();
      }
    },
    nextItem() {
      if (event.keyCode === 38 && this.currentItem > 0) {
        this.currentItem--;
      } else if (
        event.keyCode === 40 &&
        this.currentItem < this.foundItems.length - 1
      ) {
        this.currentItem++;
      } else if (
        event.keyCode === 13 &&
        this.foundItems[this.currentItem].id > 0
      ) {
        this.openResult(this.foundItems[this.currentItem].id);
      }
    },
    searchProjects() {
      this.response = false;
      this.loading = true;
      ProjectsService.searchProject(this.searchInput)
        .then(res => {
          if (res.length - 1 < this.currentItem) {
            this.currentItem = 0;
          }
          if (res.length > 0) {
            this.foundItems = res;
            this.response = true;
          } else {
            this.foundItems = [{ id: 0 }];
            this.response = true;
          }
        })
        .catch(err => {
          console.log(err);
        })
        .finally(() => (this.loading = false));
    },
    getProjects() {
      return ProjectsService.getProjects()
        .then(res => {
          this.projects = res.data.projects;
        })
        .catch(err => {
          this.projects = [];
          console.log(err);
        });
    },
    openResult(id) {
      if (router.currentRoute.path !== `/projects/${id}`) {
        router.push({ path: `/projects/${id}` });
      }
      this.foundItems = [{ id: 0 }];
      this.searchInput = "";
      this.currentItem = 0;
    },
    showCreationForm() {
      const element = document.getElementById("CreationForm");
      element.classList.add("show-creation-form");
    }
  }
};
</script>

<style lang="scss" scoped>
.search-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fafafa;
  font-size: 1rem;
  font-weight: bold;
  color: #2c3e50;
}

.search-input:hover,
.search-input:focus {
  transition: 2s ease-out;
  border-bottom-color: #42b983;
}

.search-dropdown {
  position: absolute;
  top: 25px;
  width: 100%;
  min-height: 50px;
  height: auto;
  background-color: #2c3e50;
  overflow-y: scroll;
  z-index: 99;
  color: white;
}

#nav a {
  color: white;
  text-underline: none;
  cursor: pointer;
}
.item-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding: 15px;
}
.item-group p {
  margin: 0;
  width: 50%;
}
.item-group:hover {
  background-color: #42b983;
  cursor: pointer;
}
.active-item {
  background-color: #42b983;
  cursor: pointer;
}
#Spinner {
  position: absolute;
  left: -25px;
  top: 0;
}
#CreationForm.show-creation-form {
  display: block;
}
</style>
