<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link v-if="isAuthenticated" to="/projects">Projects</router-link>
      <span v-if="isAuthenticated"> | </span>
      <router-link v-if="!isAuthenticated" to="/login">Login</router-link>
      <router-link v-if="isAuthenticated" to="/user">User</router-link>
      <span v-if="isAuthenticated"> | </span>
      <span
        class="router-link-active"
        v-if="isAuthenticated"
        v-on:click="logout()"
        >Logout</span
      >
      <Search v-if="isAuthenticated" class="search"></Search>
    </div>
    <router-view
      :logout="logout"
      :settingSnackbarStopTimeout="settingSnackbarStopTimeout"
      :snackbarDuration="snackbarDuration"
      :snackBarShow="snackBarShow"
      :setSnackbarMessage="setSnackbarMessage"
    />
    <md-snackbar
      :md-position="snackbarPosition"
      :md-duration="isInfinity ? Infinity : snackbarDuration"
      :md-active.sync="snackbar"
      md-persistent
    >
      <span>{{ snackbarMessage }}</span>
      <md-button class="snack-button" @click="handleSnackbarClick">{{
        confirmButtonText
      }}</md-button>
    </md-snackbar>
  </div>
</template>

<script>
import router from "@/router";
import Search from "@/components/Search.vue";

export default {
  data() {
    return {
      confirmButtonText: "Yes",
      isInfinity: false,
      snackbarPosition: "center",
      snackbarMessage: "",
      snackbar: false,
      snackbarDuration: 4000,
      snackbarStopTimeout: null
    };
  },
  components: {
    Search
  },
  mounted() {
    this.validation();
  },
  computed: {
    isAuthenticated() {
      return this.$store.state.isAuthenticated;
    }
  },
  methods: {
    handleSnackbarClick() {
      this.snackbar = false;
      clearTimeout(this.snackbarStopTimeout);
    },
    logout() {
      this.$store.commit("checkAuth", false);
      delete localStorage.tokenExp;
      delete localStorage.accessToken;
      if (router.currentRoute.name !== "Login") {
        this.$router.push("/login");
      }
    },
    snackBarShow() {
      this.snackbar = true;
    },
    setSnackbarMessage(message) {
      this.snackbarMessage = message;
    },
    settingSnackbarStopTimeout(data) {
      this.snackbarStopTimeout = data;
    },
    validation() {
      if (
        localStorage.accessToken &&
        Date.now() / 1000 < localStorage.tokenExp
      ) {
        this.$store.commit("checkAuth", true);
      }
    }
  }
};
</script>

<style lang="scss">
:root {
  --md-theme-default-primary: #fff;
  .md-button.md-theme-default {
    color: white;
  }
}
body {
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 1rem;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#nav > span.router-link-active {
  cursor: pointer;
  font-weight: bold;
}
.search {
  position: absolute;
  right: 13%;
  top: 30px;
  width: 25%;
}

//media
@media screen and (max-width: 930px) {
  #nav {
    margin-left: 50px;
    text-align: left;
  }
}
</style>
